<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198288330020-81cutgnme5v86n2j4qt8e8s2ul6tfru7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198288330020-81cutgnme5v86n2j4qt8e8s2ul6tfru7</string>
	<key>API_KEY</key>
	<string>AIzaSyAvGFQkWjYkWMALUZ4fQWAGFIwXKjwNk00</string>
	<key>GCM_SENDER_ID</key>
	<string>198288330020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Brotsky.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>brotskytwitter</string>
	<key>STORAGE_BUCKET</key>
	<string>brotskytwitter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198288330020:ios:361f62b720f02cc05877b1</string>
</dict>
</plist>